[Unit]
Description=Switch theme script


[Service]
; ExecStart=/bin/bash %h/theme-switch.sh
ExecStart=/run/current-system/sw/bin/bash %h/theme-switch.sh
Type=oneshot
