input {
  keyboard {
    xkb {
      layout "pl"
    }
  }

  touchpad {
    tap 
    dwt
    scroll-method "two-finger"
    // natural-scroll
    accel-profile "adaptive"
  }
  
  mouse {
    // accel-speed
  }

  trackpoint {
  }

  focus-follows-mouse
}
