// spawn-at-startup "wpaperd"

spawn-sh-at-startup "swww-daemon"
spawn-sh-at-startup "swww img ~/Pictures/wallpapers/tyrus.png"

cursor {
    hide-when-typing
    hide-after-inactive-ms 5000
}

hotkey-overlay {
  skip-at-startup
}


spawn-sh-at-startup "swaybg -i ~/.config/niri/forest.jpg -m fill"
layer-rule {
    match namespace="^wallpaper$"

    place-within-backdrop true
}

spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

