// spawn-at-startup "wpaperd"

spawn-sh-at-startup "swww-daemon"
spawn-sh-at-startup "swww img ~/Pictures/wallpapers/tyrus.png"

spawn-sh-at-startup "kwalletd6"
spawn-sh-at-startup "/usr/lib/pam_kwallet_init"

cursor {
    hide-when-typing
    hide-after-inactive-ms 5000
}

hotkey-overlay {
  skip-at-startup
}


spawn-sh-at-startup "swaybg -i ~/.config/niri/forest.jpg -m fill"
layer-rule {
    match namespace="^wallpaper$"

    place-within-backdrop true
}

layer-rule {
  match namespace="waybar"
  place-within-backdrop true
}

// layer-shell {
//   match namespace="waybar"
//   allow-on-overview true
//   allow-top-layer true
// }

spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

// spawn-sh-at-startup "export DISPLAY=:0 XAUTHORITY=$HOME/.Xauthority WAYLAND_DISPLAY=wayland-0 && dbus-update-activation-environment DISPLAY XAUTHORITY WAYLAND_DISPLAY"

