output "eDP-2" {
  // off
  mode "2880x1800@120"
  scale 1.25
  transform "normal"

  position x=0 y=0
}

output "eDP-1" {
  // off
  mode "2880x1800@120"
  scale 1.25
  transform "normal"

  position x=0 y=0
}

output "DP-1" {
  off
  mode "3440x1440@59.973"
  scale 1
  transform "normal"

  position x=0 y=0
}
