kprofile mobile {
  output "eDP-2" enable scale 1.25
}

profile mobile {
  output "eDP-1" enable scale 1.25
}

profile altanka {
  output "eDP-2" enable scale 1.25 position 0,0
  output "IMAGEQUEST Co. Ltd HDIT17 DSUB X73SIE1101745" {
    position 2304,0
    scale 1
  }
}

profile wroclawnitro {
  output "eDP-1" enable scale 1.5 position 2560,0
  output "Acer Technologies Acer VG240YU 0x11016D49" {
    position 0,0
    scale 1
  }
}

profile ultrawide {
  output "ASUSTek COMPUTER INC PA348CGV S1LMQS088268" {
    position 0,0
    scale 1
  }

  output "eDP-1" disable
}

